@font-face {
    font-family: 'accidental';
    src: url('fonts/accidental.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: accidental;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background-color: #101929;
}

#leftScreen, #middleScreen, #rightScreen {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

#fullscreenButton, #deployScreensButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#deployScreensButton {
    right: 150px;
}